 <!-- /*<========================================= Footer Section =========================================>*/ -->
      <section class="footer-section">
          {% load static %}
        <div class="container">
          <div class="footer-single">
            <div class="row">
              <div class="col-md-4">
                <a class="navbar-brand" href="">LOGO</a>
              </div>
              <div class="col-md-4">
                <ul>
                  <li><a href="">Our Services</a></li>
                  <li><a href="">About Us</a></li>
                  <li><a href="">Courts</a></li>
                </ul>
              </div>
              <div class="col-md-4">
                <div class="footer-social-media">
                  <a href=""><i class="fab fa-facebook"></i></a>
                  <a href=""><i class="fab fa-instagram"></i></a>
                  <a href=""><i class="fab fa-twitter"></i></a>
                </div>
              </div>
            </div>
            <div class="copyright">
              <p>© All rights reserved.</p>
            </div>
          </div>
        </div>
      </section>

      <div class="scrollup">
      <a href="#"><i class="fas fa-level-up-alt"></i></a>
    </div>