{#<!--================ Start Alert Message Area =================-->#}

 <style>
        .success-message {
            color: green;
        }

        .error-message {
            color: red;
        }
    </style>
{% for message in messages %}
    {% if message.tags == 'success' %}
    <div class="success-message">
        {{ message }}
    </div>
    {% endif %}
    {% endfor %}

    <!-- Display error messages -->
    {% for message in messages %}
    {% if message.tags == 'error' %}
    <div class="error-message">
        {{ message }}
    </div>
    {% endif %}
    {% endfor %}


{#<!--================ End Alert Message Area =================-->#}
