{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<section class="login_box_area section-margin">
   <div class="container">
      <div class="row">
         <div class="col-lg-6">
            <div class="login_box_img">
               <div class="hover">
                  <img style="width: 70%;" src="{% static 'images/Futsal.jpg' %}" alt="">
               </div>
            </div>
         </div>
          {% if messages %}
{% for message in messages %}
<div id="message" class="container">
   <div style="color: green;" class="alert alert-success alert-dismissible text-center" role="alert">
      {{message}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
   </div>
</div>
{% endfor %}
{% endif %}
{% if error_message %}
        <div class="messages">
               <p style="color: red;">{{ error_message }}</p>
        </div>
    {% endif %}
         <div class="col-lg-6">
            <div class="login_form_inner">
               <h3>Enter New Password</h3>
               <form class="row login_form" method="post" action="{% url 'authentication:password_reset' %}">
                   {% csrf_token %}
                  <div class="col-md-12 form-group">
                     <input type="password" name="new_password" class="form-control" id="password" placeholder="New Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'New Password'">
                  </div>
                  <div class="col-md-12 form-group">
                     <input type="password" name="confirm_new_password" class="form-control" id="confirmpassword" placeholder="Confirm New Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Confirm New Password'">
                  </div>

                  <div class="col-md-12 form-group">
                     <button type="submit" value="submit" class="button  w-100">Change Password</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</section>

</body>
</html>