{% extends 'base.html' %}
{% load static %}
{% block content %}
<p>welcome </p>
    <div>
    {% include 'message.html'  %}
    </div>
        
{#    {% for consumer in consumers %}#}
    <h1>Hello {{ consumers.consumer_id }}</h1>


        <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Phone</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{ consumers.consumer_id }}</th>
      <td>{{ consumers.name }}</td>
      <td>{{ consumers.phone }}</td>
      <td>{{ consumers.email }}</td>
    </tr>
   
  </tbody>
</table>
    
{#    {% endfor %}#}
    
    <a href="{% url 'authentication:consumer_update' consumers.consumer_id %}">Update</a>
    
    <a href="{% url 'authentication:consumer_logout' %}">Logout</a>

{% endblock %}